@page "/Detail"

<div class="d-block">
    <h3>@Post.Title</h3>
    <div class="btn-group-sm">
        @if (Post.Links.CanPublish())
        {
            <button class="btn btn-warning" @onclick="PublishAsync">Publier</button>
        }
        @if (Post.Links.CanUnpublish())
        {
            <button class="btn btn-danger" @onclick="UnpublishAsync">Retirer</button>
        }
    </div>
</div>

<h4>@Post.Author</h4>

<div class="text-body">
    @Post.Content
</div>