<h3>Liste des posts</h3>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th>Auteur</th>
            <th class="col-md-9" colspan="2">Titre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Posts)
        {
            <BlogTableRow Post="@post" />
        }
    </tbody>
</table>