<h3>Liste des posts</h3>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th class="col-md-9">Titre</th>
            <th>Auteur</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Posts)
        {
            <tr>
                <td>
                    @if (HasDetailLink(post))
                    {
                        <a href="@DetailLink(post)?.Href">@post.Title</a>
                    }
                    else
                    {
                        @post.Title
                    }
                </td>
                <td>@post.Author</td>
            </tr>
        }
    </tbody>
</table>