<tr>
    <td>@Post.Author</td>
    <td>@Post.Title</td>
    <td>
        @if (Post.Links.Count > 0)
        {
            <div class="row">
                @if (Post.HasDetail)
                {
                    <button type="submit" class="btn btn-primary" @onclick="NavigateToDetail">Detail</button>
                }
            </div>
        }
    </td>
</tr>